<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      font-family: monospace;
      background-color: black;
      color: white;
    }
    input{
      background-color: rgb(100, 100, 100);
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogIn</title>
</head>
<body>
  <h1>LogIn</h1>
  <form action="/user/login", method="POST">

    <label for="name">Email</label>
    <input type="email" name="email" id="" required>

    <label for="name">Password</label>
    <input type="password" name="password" id="" required>
    <button type="submit">
      LogIn
    </button>

  </form>
</body>
</html>