<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <style>
    body{
      font-family: monospace;
      background-color: black;
      color: white;
    }
    input{
      background-color: rgb(100, 100, 100);
    }
  </style>
</head>
<body>
  <h1>SignUp</h1>
  <form action="/user", method="POST">
    <label for="name">Full Name</label>
    <input type="text" name="name" id="" required>

    <label for="name">Email</label>
    <input type="email" name="email" id="" required>

    <label for="name">Password</label>
    <input type="password" name="password" id="" required>
    <button type="submit">
      SignUp
    </button>
  </form>
</body>
</html>